
#card-white {
	text-align: center;
	background-color: #F1F1F1;
	background-size: 10px;
	margin-left: 900px;
	margin-right: 20px;
	padding: 10px ;
	padding-right: 40px;
	padding-left: 10px;
	color: #A55C5C ;
	box-shadow : 0px 5px 15px rgba(0,0,0,.1);
	width: 400px;
	right: 300px;
	transition: 1 ease; 
	border-radius: 5px;

	}

#card-white:hover{
    transform: 1.25;
    background-color: #643535;
    color: white;
    translate: Y(4px);
	}



.card-pink{
	box-shadow : 0px 5px 15px rgba(0,0,0,.1);
	background-color:#D08484 ;
	text-align: center;
	margin: 20px auto;
	width: 350px;
	height: 350px;
	padding-top: 20px;
	border-bottom-right-radius: 10%;
	border-top-left-radius: 10%;
	justify-content: space-around;
}

.card-pink:hover{
	background-color: #643535;
	transform-style: 4px;
}

.card{
	display: flex;
	border-bottom-right-radius: 50%;
	align-items: flex-start;
}

#massage {
	width: 350px; 
	height: 250px;
	margin-right: 20px;
	margin-left: -10px;
	margin-top: -20px;
	padding-left: 10px;
	border-top-left-radius: 10%;

}


#makeup{
	width: 350px; 
	height: 250px;
	margin-right: 20px;
	margin-left: -10px;
	margin-top: -20px;
	padding-left: 10px;
	border-top-left-radius: 10%;

}

#hair{
	width: 350px; 
	height: 250px;
	margin-right: 20px;
	margin-left: -10px;
	margin-top: -20px;
	padding-left: 10px;
	border-top-left-radius: 10%;


}